body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.container {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

button {
  margin-top: 15px;
  padding: 8px 16px;
  font-size: 16px;
}

/* Worksheet layout */
hr {
  border: none;
  border-top: 2px solid black;
  margin: 20px 0;
}

.worksheet {
  width: 100%;
}

.task-grid {
  display: grid;
  grid-template-columns: repeat(15, auto);
  gap: 5px;
  margin-top: 5px;
  font-size: 12px;
}

.task {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #000;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  white-space: nowrap;
}

.separator {
  grid-column: 1 / -1;
  border-top: 2px solid black;
  margin: 5px 0;
}

.difficulty-block {
  display: flex;
  justify-content: space-between;
}
/* Print settings */

@page {
  size: A4 landscape;
  margin: 1cm;
}

@media print {
  .no-print {
    display: none;
  }

  body {
    margin: 0;
  }
}
